@model IEnumerable<FINAL_AutoBodyShop.Models.Data.CustomerVehicle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car_Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Current_Mileage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Engine_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Service_History)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Vehicle_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Car_Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Current_Mileage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Engine_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Service_History)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Number_Plate }) |
            @Html.ActionLink("Details", "Details", new { id=item.Number_Plate }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Number_Plate })
        </td>
    </tr>
}

</table>
